<h{{level|default(2)}} {% if modifier %} class="{{ modifier }} bg-gold-500 " {% endif %}>
	{% if url %}
		<a href="{{ url }}">{{ text }}</a>
	{% else %}
		<span>{{ text }}</span>
	{% endif %}
</h{{level|default(2)}}>
